@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear,
input::-moz-clear,
input::-webkit-clear-button {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

/*--------------------*/

* {
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.no-webp .header-secton{
  background: url("../img/main-section-bg.jpg") center/cover no-repeat; }

.header-secton {
  padding: 0 110px 600px;
  color: #FFF;
  margin: 0 0 120px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 140px;
  position: relative;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  position: relative;
  z-index: 50;
}

.logo span {
  color: rgb(240, 140, 0);
}

body._pc a:hover {
  color: #FBFBFB;
  -webkit-transition: color 0.1s ease;
  -o-transition: color 0.1s ease;
  transition: color 0.1s ease;
}

body._touch a:active {
  color: #FBFBFB;
}

body .header__menu-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #C6C0C0;
}

body .header__menu-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .header__menu-list ul li {
  margin: 0 55px 0 0;
}

body .header__menu-list ul li:last-child {
  margin: 0;
}

/*-------------------HEADER BURGER-------------------------------*/

.header__burger {
  width: 40px;
  height: 30px;
  position: relative;
  z-index: 50;
  cursor: pointer;
}

.header__burger:checked {
  background-color: red;
}

.header__burger.active::before {
  rotate: 45deg;
  top: 50%;
}

.header__burger.active::after {
  rotate: -45deg;
  top: 50%;
}

.header__burger.active span {
  scale: 0;
}

.header__burger::before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #C6C0C0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #C6C0C0;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #C6C0C0;
}

body.lock {
  overflow: hidden;
}

/*----------------------------------------------------------------------*/

.basket-logo-container {
  position: relative;
  z-index: 50;
  max-width: 32px;
}

.basket-logo::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-color: rgb(240, 140, 0);
  border: solid 2px #FFF;
  border-radius: 50%;
}

.header-content {
  padding: 80px 0 0;
}

.header-content__h1 {
  padding: 0 0 28px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  max-width: 800px;
}

.header-content__h1 h1 span {
  position: relative;
}

.header-content__h1 h1 span img {
  position: absolute;
  width: 100%;
  bottom: -7px;
  right: -25px;
}

.header-content__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #C6C0C0;
  max-width: 867px;
  margin: 0 auto 50px;
}

.header-content__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form {
  position: relative;
}

.search-form::before {
  content: "";
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 10.5px;
  top: 10.5px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url("../img/svg/search.svg") 50% 50% #F08C00 no-repeat;
}

.search-form input {
  position: relative;
  z-index: 1;
  width: 34vw;
  padding: 20px 0px 20px 24px;
  outline: none;
  border: rgba(255, 255, 255, 0.4) 2px solid;
  border-radius: 45px;
  background-color: rgba(222, 222, 222, 0.2);
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.search-form input::-webkit-input-placeholder {
  color: rgb(198, 192, 192);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form input::-moz-placeholder {
  color: rgb(198, 192, 192);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form input:-ms-input-placeholder {
  color: rgb(198, 192, 192);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form input::-ms-input-placeholder {
  color: rgb(198, 192, 192);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form input::placeholder {
  color: rgb(198, 192, 192);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.search-form input:focus::-moz-placeholder {
  opacity: 0;
}

.search-form input:focus:-ms-input-placeholder {
  opacity: 0;
}

.search-form input:focus::-ms-input-placeholder {
  opacity: 0;
}

.search-form input:focus::placeholder {
  opacity: 0;
}

.about-us {
  padding: 0 110px;
  margin: 0 0 120px;
}

.about-us__sections {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-column-gap: 20px;
}

.about-us__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
}

.about-us__logo {
  border-radius: 50%;
  background-color: #F08C00;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  min-height: 40px;
}

.about-us__text {
  padding: 0 0 0 20px;
}

.about-us__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #2E2A2A;
  margin: 0 0 16px 0;
}

.about-us__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #686161;
}

.no-webp .price{
  background: url("../img/price-bg.jpg") right 100% no-repeat; }

.price {
  overflow: hidden;
  margin: 0 0 120px;
}

.price_container {
  margin: 0 110px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
}

.price__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2E2A2A;
  margin: 0 0 48px 0;
}

.price__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #2E2A2A;
  margin: 0 0 8px 0;
}

.price__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #686161;
}

.price__price {
  color: rgb(240, 140, 0);
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin: 0 0 100px 0;
}

.price__colors {
  max-width: 356px;
  background-color: #FBFBFB;
  border-radius: 8px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 108px;
          flex: 0 1 108px;
  min-height: 113px;
  padding: 20px 15px 15px;
  background: #FFF;
  border-radius: 8px;
}

.price__item-img img {
  width: 100%;
  height: 100%;
}

.price__item-content {
  padding: 0 0 0 28px;
}

.price__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #2E2A2A;
  margin: 0 0 32px 0;
}

.price__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565050;
  margin: 0 0 8px 0;
}

.price-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.price-pagination-item {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.price-pagination-item.pagination-item-grey {
  background-color: #375C6C;
}

.price-pagination-item.pagination-item-orange {
  background: #F08C00;
}

.price-pagination-item.pagination-item-green {
  background: #2C8234;
}

.price-pagination-item.active {
  width: 24px;
  height: 24px;
  border: solid 3px #565050;
  background-image: url("../img/svg/ok.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.catalog {
  padding: 0 110px;
}

.catalog .catalog__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: #2E2A2A;
  text-align: center;
  margin: 0 0 16px;
}

.catalog .catalog__menu {
  margin: 0 0 55px;
}

.catalog .catalog__menu .catalog__menu-ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 470px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8C8585;
}

.catalog .catalog__menu .catalog__menu-ul li {
  cursor: pointer;
  padding: 0 5px 10px;
}

.catalog .catalog__menu .catalog__menu-ul .catalog__li--active {
  font-weight: 500;
  color: #2E2A2A;
  position: relative;
}

.catalog .catalog__menu .catalog__menu-ul .catalog__li--active::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 2px;
  left: calc(50% - 3px);
  background: #F08C00;
  border-radius: 50%;
}

.catalog .catalog__items {
  margin: 0 0 50px 0;
  display: -ms-grid;
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(280px, 380px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 60px;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.catalog .catalog__items .catalog__item .catalog__img-container {
  position: relative;
  z-index: 1;
  height: 325px;
  background: #FBFBFB;
  border-radius: 8px;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__bonuses {
  position: relative;
  z-index: 2;
  padding: 24px 0 24px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  max-width: 159px;
  pointer-events: none;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__bonuses .catalog__bonus {
  max-width: 115px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  cursor: auto;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__bonuses .catalog__bonus.red-bonus {
  background-color: rgb(227, 72, 72);
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__bonuses .catalog__bonus.green-bonus {
  background-color: #59B162;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.beige {
  background-color: #EDCFB3;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.beige.active {
  background-image: url("../img/svg/dark-ok.svg");
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.orange {
  background: #F08C00;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.orange.active {
  background-image: url("../img/svg/ok.svg");
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.black {
  background: #000;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.black.active {
  background-image: url("../img/svg/ok.svg");
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.brown {
  background: #B68044;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.brown.active {
  background-image: url("../img/svg/ok.svg");
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.grey {
  background: #C6C0C0;
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.grey.active {
  background-image: url("../img/svg/dark-ok.svg");
}

.catalog .catalog__items .catalog__item .catalog__img-container .catalog__pagination .pagination.active {
  width: 24px;
  height: 24px;
  border: solid 3px #565050;
  background-position: center;
  background-repeat: no-repeat;
}

.catalog .catalog__items .catalog__item .catalog__text-container .catalog__item-name {
  padding: 16px 0 4px 0;
  font-size: 16px;
  line-height: 22px;
  color: #686161;
}

.catalog .catalog__items .catalog__item .catalog__text-container .catalog__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 9px;
}

.catalog .catalog__items .catalog__item .catalog__text-container .catalog__item-price .catalog__new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #2E2A2A;
}

.catalog .catalog__items .catalog__item .catalog__text-container .catalog__item-price .catalog__old-price {
  display: none;
}

.catalog .catalog__items .catalog__item .catalog__text-container .catalog__item-price .catalog__old-price.yes {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #8C8585;
}

.catalog .catalog__button {
  display: block;
  margin: 0 auto 120px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #5F5D5D;
  background: #EDEDED;
  border-radius: 4px;
}

.stock {
  padding: 0 110px;
  position: relative;
  min-height: 402px;
}

.no-webp .stock .stock__bg{
  background: -webkit-gradient(linear, right top, left top, color-stop(12.81%, #FFFFFF), color-stop(89.37%, rgba(255, 255, 255, 0))), url("../img/stock-bg.png") no-repeat -150px center; }

.no-webp .stock .stock__bg{
  background: -o-linear-gradient(right, #FFFFFF 12.81%, rgba(255, 255, 255, 0) 89.37%), url("../img/stock-bg.png") no-repeat -150px center; }

.no-webp .stock .stock__bg{
  background: linear-gradient(270deg, #FFFFFF 12.81%, rgba(255, 255, 255, 0) 89.37%), url("../img/stock-bg.png") no-repeat -150px center; }

.stock .stock__bg {
  position: absolute;
  width: 43.8888888889%;
  top: 0;
  left: 0;
  height: 100%;
  background-size: auto 100%;
}

.stock .stock__text {
  max-width: 50%;
  height: 100%;
  margin-left: 50%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stock .stock__text h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  color: #2E2A2A;
  padding: 0 0 8px 0;
}

.stock .stock__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8C8585;
  padding: 0 0 40px 0;
}

.stock .stock__text a {
  display: block;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 157px;
  height: 46px;
  background: #F08C00;
  border-radius: 4px;
  cursor: pointer;
}

.footer .footer__container {
  padding: 0 110px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.footer .footer__container p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: inherit;
  line-height: 22px;
  color: #8C8585;
}

.footer .footer__container a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer .footer__container a.about {
  font-size: inherit;
  line-height: 22px;
  text-decoration-line: underline;
  color: #8C8585;
  cursor: pointer;
}

.footer .footer__container a.contact {
  cursor: pointer;
  position: relative;
  font-size: inherit;
  line-height: 22px;
  font-weight: 600;
  color: #000;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: #8C8585;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer .footer__container a.contact::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 3px;
  outline: 1px solid;
  left: 0;
  background-color: #8C8585;
}

@media (min-width: 767.98px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .search-form input {
    width: 337px;
  }
}

@media (max-width: 767.98px) {
  .header-secton {
    padding: 0 60px 100px;
  }

  .header {
    min-height: 100px;
  }

  .header__menu-list {
    position: fixed;
    z-index: 40;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 25px;
    color: #C6C0C0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 60px;
    -webkit-transition: top 0.3s ease;
    -o-transition: top 0.3s ease;
    transition: top 0.3s ease;
  }

  .header__menu-list.active {
    top: 0;
  }

  .header__menu-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }

  .header__menu-list ul li {
    display: block;
    margin: 0;
  }

  .header-content {
    padding: 50px 0 0;
  }

  .header-content__h1 h1 span img {
    width: 100%;
  }

  .header-content__h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .about-us {
    padding: 0 60px;
  }

  .price_container {
    margin: 0 60px;
    text-align: center;
  }

  .catalog {
    padding: 0 60px;
  }

  .stock .stock__text {
    max-width: 100%;
    margin-left: 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stock .stock__text p {
    color: #2E2A2A;
  }
}

@media (max-width: 767.98px) and (max-width: 479.98px) {
  .header {
    min-height: 70px;
  }

  .header__menu-list {
    padding: 80px 20px;
  }
}

@media (max-width: 479.98px) {
  .header-secton {
    padding: 0 20px 50px;
    margin: 0 0 60px;
  }

  .header-content {
    padding: 20px 0 0;
  }

  .header-content__h1 {
    font-size: 20px;
    line-height: 30px;
  }

  .header-content__search-form {
    display: block;
  }

  .search-form {
    position: relative;
    text-align: center;
  }

  .search-form.active::before {
    right: 10.5px;
    top: 10.5px;
    -webkit-transition: right 0.3s ease;
    -o-transition: right 0.3s ease;
    transition: right 0.3s ease;
  }

  .search-form .search-input {
    width: 70px;
  }

  .search-form .search-input::-webkit-input-placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .search-form .search-input::-moz-placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .search-form .search-input:-ms-input-placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .search-form .search-input::-ms-input-placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .search-form .search-input::placeholder {
    opacity: 0;
    visibility: hidden;
  }

  .search-form .search-input.active {
    width: 100%;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }

  .search-form .search-input.active::-webkit-input-placeholder {
    opacity: 1;
    visibility: visible;
  }

  .search-form .search-input.active::-moz-placeholder {
    opacity: 1;
    visibility: visible;
  }

  .search-form .search-input.active:-ms-input-placeholder {
    opacity: 1;
    visibility: visible;
  }

  .search-form .search-input.active::-ms-input-placeholder {
    opacity: 1;
    visibility: visible;
  }

  .search-form .search-input.active::placeholder {
    opacity: 1;
    visibility: visible;
  }

  .search-form::before {
    pointer-events: none;
    right: calc(50% - 24px);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F08C00;
    background: url("../img/svg/search.svg") 50% 50% #F08C00 no-repeat;
  }

  .about-us {
    padding: 0 20px;
    margin: 0 0 60px;
  }

  .price_container {
    margin: 0 20px;
  }

  .price__item-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90px;
            flex: 0 1 90px;
    min-height: 100px;
  }

  .catalog {
    padding: 0 20px;
  }

  .catalog .catalog__button {
    margin: 0 auto 20px;
  }

  .stock {
    padding: 10px 20px;
  }

  .footer .footer__container {
    padding: 0 20px;
    font-size: 10px;
    min-height: 60px;
  }
}

.webp .header-secton{ background: url(../img/main-section-bg.webp) center/cover no-repeat; }

.webp .price{ background: url(../img/price-bg.webp) right 100% no-repeat; }

.webp .stock .stock__bg{ background: -webkit-gradient(linear, right top, left top, color-stop(12.81%, #FFFFFF), color-stop(89.37%, rgba(255, 255, 255, 0))), url(../img/stock-bg.webp) no-repeat -150px center; }

.webp .stock .stock__bg{ background: -o-linear-gradient(right, #FFFFFF 12.81%, rgba(255, 255, 255, 0) 89.37%), url(../img/stock-bg.webp) no-repeat -150px center; }

.webp .stock .stock__bg{ background: linear-gradient(270deg, #FFFFFF 12.81%, rgba(255, 255, 255, 0) 89.37%), url(../img/stock-bg.webp) no-repeat -150px center; }